* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

/**, *:before, *:after {*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*:focus, :active {*/
/*    outline: none;*/
/*}*/

/*a :focus, a :active {*/
/*    outline: none;*/
/*}*/

/*nav, footer, header, aside {*/
/*    display: block;*/
/*}*/

/*html, body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*input, button, textarea {*/
/*    font-family: inherit;*/
/*}*/

/*input ::-ms-clear {*/
/*    display: none;*/
/*}*/

/*button {*/
/*    cursor: pointer;*/
/*}*/

/*button ::-moz-focus-inner {*/
/*    padding: 0;*/
/*    border: 0;*/
/*}*/

/*a, a:visited {*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    text-decoration: none;*/
/*}*/

/*ul li {*/
/*    list-style: none;*/
/*}*/

/*img {*/
/*    vertical-align: top;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-size: inherit;*/
/*    font-weight: inherit;*/
/*}*/

/*a {*/
/*    color: inherit;*/
/*}*/

/*
    navbar
*/
:root {
    --col-white: #FFF;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    /*border-color: rgba(126, 239, 104, 0.8);*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);*/
    /*border-color: rgba(126, 239, 104, 0);*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);*/

    outline: 0 none;
}

th {
    vertical-align: middle;
}

.nav-item a {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    height: 100vh;
}

.navbar {
    height: 100%;
}

.main-right {
    background: var(--col-white);
    width: 100%;
    overflow-y: scroll;
}

.main-left {
    width: 280px;
}

.small-table-column {
    width: 40px;
    text-align: center;
}

@media (max-width: 992px) {
    .main-left {
        width: auto;
    }
}

@media (max-width: 768px) {
    .nav-item a {
        justify-content: center;
        height: 50px;
    }

    .nav-pills .nav-link {
        border-radius: 0;
    }
}
